<form action="/publish" name="uploadForm" id="uploadForm" method="POST">
  <b>Select an Page associated with Instagram Business Account ID to publish
    reel to</b>
  <select name="pageId" id="pageId">
    {{#each pages}}
      <option value="{{id}}">{{name}}</option>
    {{/each}}
  </select>
  <input type="text" placeholder="Enter video url" name="videoUrl" />
  <input type="text" placeholder="Enter caption (optional)" name="caption" />
  <input type="submit" value="Upload Reel" />
  {{#if success}}
    <div class="success">
      <span
        class="closebtn"
        onclick="this.parentElement.style.display='none';"
      >&times;</span>
      {{success}}
    </div>
  {{/if}}
</form>