<header class="py-4 flex justify-center space-x-4">
  <h1 class="text-3xl font-bold">Figue - Instagram Reels Publishing Tools</h1>
</header>
<div class="flex justify-center space-x-4 py-4">
  <button
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    onclick="location.href='/login'"
  >Log In with Facebook</button>
</div>