<header class="py-4 flex justify-center space-x-4 ">
  <h1 class="text-3xl font-bold">Figue.io</h1>
  <h3 class="font-bold">Social Publishing Tool</h3>
</header>
<div class="flex justify-center space-x-4 py-4">
  <button
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    onclick="location.href='/insta/login'"
  >Log In with Facebook</button>
  <button
    class="bg-black hover:bg-slate-800 text-white font-bold py-2 px-4 rounded"
    onclick="location.href='/tiktok/login'"
  >Log In with Tiktok</button>
</div>