<form
  action="/tiktok/publish"
  name="uploadForm"
  id="uploadForm"
  method="POST"
  class="p-4 bg-white rounded-lg shadow-md w-1/2 mx-auto"
>

  <h1 class="text-3xl font-bold">TikTok</h1>
  <div class="flex justify-center space-x-4 py-4 items-center">
    <img
      src="{{user.avatar_url}}"
      alt="avatar"
      class="rounded-full w-20 h-20"
    />
    <h1 class="text-3xl font-bold">{{user.display_name}}</h1>
  </div>

  <div class="mb-2">
    <label for="videoUrl" class="block font-semibold">Enter video url:</label>
    <input
      type="text"
      placeholder="Enter video url"
      name="videoUrl"
      id="videoUrl"
      class="w-full py-2 px-3 border rounded-md"
    />
  </div>
  <div class="mb-2">
    <input
      type="submit"
      value="Upload Reel"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md"
    />
  </div>

</form>